/* index.html */
.hero-background-img {
  background-image: url(./images/analog-alarm.jpg);
  background-size: cover;
  background-position: 0 -350px;
}

.hero-background-img > .container {
  min-height: 75vh;
  margin-left: 10%;
  padding-top: 25%;
}

#countdown {
  background-color: #fff;
  color: #000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin: 0;
  height: 70px;
  width: 200px;
}

/* about.html */
.feature {
  margin-top: 2em;
}

.feature-heading {
  letter-spacing: 2px;
  margin-top: 5em;
}

.lead {
  font-size: 1.25em;
  font-weight: 300;
}

/* contact.html */
.contact > form > .form-group label {
  padding: 0;
}
